@import '/styles/variables.scss';

.topNav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.topContent {
  height: 700px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.topContainerText{
  margin: auto;

  .intro {
    color: $title-color;
  }

  h1 {
    font-size: 3rem;
    color: #ffffffce;
    margin-bottom: 0.1em;
  }

  h2 {
    font-size: 2rem;
    color: $font-color;
  }
}

.topImageContainer {
  position: relative;
  text-align: center;
  margin: auto;
  order: 1;
}

.topImage {
  border-radius: $br-radius;
  border: 5px solid white;
}

.buttonContainer {
  margin-top: 50px;
}