@import '/styles/variables.scss';

.cardContainer {
  border-radius: $br-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  background-color: $card-bg-color;
  position: relative;
}

.cardTextContainer {
  padding: 0.25em 1em;
}

.cardDescription {
  height: 4em;
}

.btnSection {
  margin-bottom: 1.2em;

  a {
    font-weight: 500;
    text-decoration: none;
    color: $high-emphasis-color;
    padding: 8px;
    border-radius: $br-radius;
    margin-right: 0.5em;
    transition: color 0.3s ease, color 0.3s ease;
  }

  a:hover{
    color: $primary-color;
  }
}

.projectTechs {
  img {
    margin-right: 0.5em;
  }
}

.cardImgContainer {
  width: 100%;
  position: relative;
}

.imgCover {
  height: 200px;
  width: 100%;
  object-fit:contain;
}

.img {
  height: 200px;
  width: 100%;
  object-fit:cover;
}

.title {
  font-size: 1.3rem;
  color: $high-emphasis-color;
  font-weight: bold;
}

.subtitle {
  color: $high-emphasis-color;
}