@import '/styles/variables.scss';

.cardContainer{
  height: 430px;
  border-radius: $br-radius;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  color: $font-color;
  background-color: $card-bg-color;
  text-align: center;
  position: relative;

  p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
  }
}

.btnSection{
  position: absolute;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  padding-bottom: 25px;

  a {
    font-weight: 500;
    text-decoration: none;
    color: $link-color;
    padding: 8px;
    background-color: $bg-color;
    border-radius: $br-radius;
    margin: 5px;
  }
}

.cardImgContainer {
  width: 100%;
  position: relative;
  height: 200px;
}

.imgCover {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.img {
  height: 200px;
  width: 100%;
}

.title {
  color: $title-font-color;
}