@import '/styles/variables.scss';

.cardContainer {
  border-radius: $br-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  color: $font-color;
  background-color: $card-bg-color;
  position: relative;
}

.cardTextContainer {
  padding: 0.25em 1em;
}

.cardDescription {
  height: 4em;
}

.btnSection {
  margin-bottom: 1.2em;

  a {
    font-weight: 500;
    text-decoration: none;
    color: $title-font-color;
    padding: 8px;
    background-color: $bg-color;
    border-radius: $br-radius;
    margin-right: 0.5em;
  }
}

.projectTechs {
  img {
    margin-right: 0.5em;
  }
}

.cardImgContainer {
  width: 100%;
  position: relative;
}

.imgCover {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.img {
  height: 200px;
  width: 100%;
}

.title {
  font-size: 1.3rem;
  color: $title-font-color;
}

.subtitle {
  color: $title-font-color;
}