@import '/styles/variables.scss';

.gridPosts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2em;
  margin: 3em 0 3em 0;
}

.searchBar {
  background-color: $card-bg-color;
  border-radius: $br-radius;
  
  width: 100%;
  padding: 1.2em;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  margin-top: 2em;
  color: #ffffff;
  display: flex;
	align-items: center;
}

.searchInput{
  flex: 1;
  height: 2em;
	border: none;
	outline: none;
  background-color: transparent;
  color: #ffffff;
  padding-left: 1em;
  font-size: 1rem;
}