@import '/styles/variables.scss';

.cardPost {
  height: 20em;
  border-radius: $br-radius;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  color: $font-color;
  background-color: $card-bg-color;
  text-align: left;
  position: relative;
}

.cardImgContainer {
  width: 100%;
  position: relative;
  height: 12em;

  img {
    height: 12em;
    object-fit: cover;
    width: 100%;
    background-color: #ffffff;
  }
}

.btnSection{
  position: absolute;
  bottom: 0;
  margin: auto;
  text-align: left;
  width: 100%;
  padding-bottom: 25px;
  padding-left: 1em;

  a {
    font-weight: 500;
    text-decoration: none;
    color: $link-color;
    padding: 8px;
    background-color: $bg-color;
    border-radius: $br-radius;
    margin: 5px;
    
  }
}

.cardTitle {
  font-size: 1.5rem;
  color: #ffffff;
  padding-left: 1em;
}