@import '/styles/variables.scss';

.buttonSlide {
  padding: 1.1em 1.8em;
  position: relative;
  overflow: hidden;
  background-color: $link-color;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.3s;
  font-family: inherit;
  color: $title-font-color;
  margin-right: 1em;
  border-radius: $br-radius;
  text-decoration: none;

  &:hover {
    background-color: $link-color-hover;
  }
}