@import '/styles/variables.scss';

.buttonSlide {
  padding: 0.8em 1.8em;
  border: 2px solid $link-color;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.3s;
  font-family: inherit;
  color: $link-color;
  margin-right: 1em;
  border-radius: $br-radius;
  text-decoration: none;

  &:hover {
    background-color: $link-color;
    color: #000000;
  }
}
