@import '/styles/variables.scss';

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2em;

  margin: 3em 0 3em 0;
}

.title {
  font-size: 2rem;
  margin: 0.6em 0 0.6em 0;
  color: $title-font-color;
}