@import '/styles/variables.scss';

.post {
  padding: 4em 1em;

  h1 {
    color: #ffffff;
    font-size: 3rem;
  }

  h2 {
    color: #ffffff;
    padding: 0.2em 0em;
  }

  @media (min-width: 992px) {
    padding: 4em 8em;
  }
}

.containerBlog {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
}
