@import '/styles/variables.scss';

.blogs {
  min-height: 55em;
}

.post {
  background-color: $card-bg-color;
  border-radius: $br-radius;
  padding: 4em;

  h1 {
    color: #ffffff;
  }
}

.containerBlog {
  img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
    border-radius: 10px;
  }
}