@import '/styles/variables.scss';

.navbar {
  overflow: hidden;
  display: flex;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  margin: 0em;
  padding: 1em;

  @media screen and (max-width: 768px) {
    margin: 0;
  }
}
