@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  color: $font-color;
  background-color: $bg-color;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.formattedText {
  white-space: pre-wrap;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
