/* Light theme */
$bg-color: #ffffff;
$primary-color: #1677ff;
$secondary-color: #94a3b8;
$font-color: red;
$high-emphasis-color: rgba(0, 0, 0, 0.87);
$link-color: #1d2135;
$link-color-hover: #1a1f30;
$card-bg-color: #ffffff;
$br-radius: 0.30rem;

/* Dark theme */
$bg-color-dark: #161927;
$secondary-color-dark: #94a3b8;
$card-bg-color-dark: #1d2135;
$font-color-dark: #94a3b8;
$high-emphasis-color-dark: #ffffff;