/* Light theme */
$bg-color-light: #ffffff;
$primary-color: #1677ff;
$secondary-color: #94a3b8;
$font-color: #FFFFFFA6;
$high-emphasis-color: #FFFFFFD9;
$link-color: #1d2135;
$link-color-hover: #1a1f30;
$card-bg-color-light: #ffffff;
$br-radius: 0.30rem;

/* Dark theme */
$bg-color: #121212;
$secondary-color-dark: #94a3b8;
$card-bg-color: #1d1d1d;
$font-color-dark: #94a3b8;
$high-emphasis-color-dark: #ffffff;