@import '/styles/variables.scss';

.topNav {
  display: grid;
}

.topContent {
  padding: 8em 0em;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  grid-template-columns: 50% 50%;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 2em 0em;
  }
}

.topContainerText {
  flex: 1 1 50%;
  text-align: left;

  .intro {
    color: $high-emphasis-color;
  }

  h1 {
    font-size: 3.5rem;
    color: $high-emphasis-color;
    margin-bottom: 0.1em;
  }

  h2 {
    font-size: 2rem;
    color: $high-emphasis-color;
  }
}

.topContainerImage{
  flex: 1 1 50%;
  justify-content: center;
}

.topImageContainer {
  position: relative;
  text-align: center;
  margin: auto;
  order: 1;
}

.topImage {
  border-radius: $br-radius;
  border: 5px solid white;
}

.buttonContainer {
  margin-top: 50px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2.2em;

  margin: 3em 0 3em 0;
}

.title {
  font-size: 2rem;
  margin: 0.6em 0 0.6em 0;
  color: $high-emphasis-color;
}
